<%= form_for(evaluation) do |f| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluation_date %>
    <%= f.date_select :evaluation_date %>
  </div>

  <div class="field">
    <%= f.label :place %>
    <%= f.text_field :place %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :first_impression %>
    <%= f.number_field :first_impression %>
  </div>

  <div class="field">
    <%= f.label :soft %>
    <%= f.number_field :soft %>
  </div>

  <div class="field">
    <%= f.label :juicy %>
    <%= f.number_field :juicy %>
  </div>

  <div class="field">
    <%= f.label :taste_wide %>
    <%= f.number_field :taste_wide %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
